{% load static %} {% static "Delhi/Restaurants/Images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Travels</title>
    <link rel="shortcut icon" href="img/icon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'Delhi/Restaurants/css/bootstrap.css' %}">
    <!-- Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static '/Delhi/Restaurants/css/style.css ' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: black; opacity: 0.7">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#home" class="page-scroll">Events</a></li>
                    <li><a href="#home" class="page-scroll">Tourism</a></li>
                    <li><a href="#home" class="page-scroll">Home</a></li>
                    <li><a href="#home" class="page-scroll">Market</a></li>
                    <li><a href="#home" class="page-scroll">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <h1>Restaurnats in Delhi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Home page -->

    <body>
        <div id="home">
            <div class="container">
                <div class="row">
                    <div class="menu-section">
                        <h2 class="menu-section-title">Food is LOVE and with your one click you can find exquisite delicacies that suits your Budget</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="mydiv" style="text-align: center; ">
            <ul class="myul " style="align-items: center; ">
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/AnnaMaya.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Anna Maya</h3>
                    <p class="price "> 📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/annamaya-andaz-delhi-aerocity-igi-airport-643599?deal_types[]=postpaid " target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/BurmaBurma.jpg' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Burma Burma</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/burma-burma-dlf-mall-of-india-sector-18-noida-657456?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/Dilli32.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px; ">
                    <h3>Dilli 32</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/dilli-32-the-leela-ambience-convention-hotel-vivek-vihar-110680?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/FatJarCafe&Market.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Fat Jar Cafe & Market</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/fatjar-cafe-market-kailash-colony-south-delhi-653614?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/FoodExchange.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Food Exchange</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/food-exchange-novotel-new-delhi-aerocity-an-accorhotels-brand-igi-airport-600092?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/Infinity.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Infinity</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/delhi-ncr/infinity-crowne-plaza-mayur-vihar-phase-1-111945?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/KiaraSoulKitchen.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Kiara Soul Kitchen</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/kiara-soul-kitchen-greater-kailash-gk-2-south-delhi-653446?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/NYC.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>NYC</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/new-york-cafe-radisson-blu-plaza-delhi-mahipalpur-delhi-110982?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images//Quoin.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Quoin</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/delhi-ncr/quoin-novotel-new-delhi-aerocity-an-accorhotels-brand-igi-airport-600093?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/REVE.jpeg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>REVE</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/reve-worldmark-1-657498?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/ShangPalace.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Shang Palace</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/delhi-ncr/shang-palace-shangri-la-s-eros-hotel-connaught-place-cp-612517?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/Tamra.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Tamra</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/tamra-shangri-la-s-eros-hotel-connaught-place-cp-121269?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/TheFoodStore.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>The Food Store</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/food-store-double-tree-by-hilton-sector-56-112399?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Restaurants/Images/TheImperialSpice.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>The The Imperial Spice</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/delhi-ncr/the-imperial-spice-connaught-place-cp-central-delhi-656222?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                {% for rest in rests %}
                <li class="myli ">
                    <img src="{{rest.img.url}}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>{{rest.name}}</h3>
                    <p class="price ">📍 {{rest.location}}</p>
                    <a href=" {{ rest.hreftag }}" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Contact Section -->
        <div id="contact " class="text-center ">
            <div class="container ">
                <div class="section-title text-center ">
                    <h3>Send us a message</h3>
                </div>
                <div class="col-md-8 col-md-offset-2 ">
                    <form name="sentMessage " id="contactForm " novalidate>
                        <div class="row ">
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <input type="text " id="name " class="form-control " placeholder="Name " required="required ">
                                    <p class="help-block text-danger "></p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <input type="email " id="email " class="form-control " placeholder="Email " required="required ">
                                    <p class="help-block text-danger "></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <textarea name="message " id="message " class="form-control " rows="4 " placeholder="Message " required></textarea>
                            <p class="help-block text-danger "></p>
                        </div>
                        <div id="success "></div>
                        <button type="submit " class="btn btn-custom btn-lg ">Send Message</button>
                    </form>
                </div>
            </div>
        </div><br><br>
        <div id="footer ">
            <div class="container text-center ">
                <p>Designed with patience. 🙂 All rights reserved.</p>
            </div>
        </div>
        <script type="text/javascript " src="js/jquery.1.11.1.js "></script>
        <script type="text/javascript " src="js/bootstrap.js "></script>
        <script type="text/javascript " src="js/SmoothScroll.js "></script>
        <script type="text/javascript " src="js/jqBootstrapValidation.js "></script>
        <script type="text/javascript " src="js/contact_me.js "></script>
        <script type="text/javascript " src="js/main.js "></script>
        <script type="text/javascript " src="js/javascript.js "></script>

    </body>

</html>