{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Travels</title>
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'Delhi/Events/css/bootstrap.css' %}">
    <!-- Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'Delhi/Events/css/style.css' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Lobster&display=swap' %}" rel="stylesheet">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Rochester' %}" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: black; opacity: 0.8;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% static '#home' %}" class="page-scroll">Events</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Tourism</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Home</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Market</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <h1>Events in Delhi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Home page -->

    <body>
        <div id="home">
            <div class="container">
                <div class="row">
                    <div class="menu-section">
                        <h2 class="menu-section-title">"We do not remember the days, but rather the moments"</h2>
                    </div>
                </div>
            </div>

            <div class="event1">
                <h2>Concerts</h2>
            </div>

        </div>
        <div class="mydiv" style="text-align: center; ">
            <ul class="myul " style="align-items: center; ">
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/gig.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>The Gig Nights</h3>
                    <p>🕒 07:00 PM (IST)</p>
                    <p>​📅 15th April 2021​</p>
                    <p>Fee: ₹ 1,500 onwards</p>
                    <p class="price "> 📍 Location </p>
                    <a href="https://thegignight.com/delhi" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/soho.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Soho Night</h3>
                    <p>🕒 09:00 PM (IST)</p>
                    <p>​📅 18th March 2021​</p>
                    <p>Fee: ₹ 1,700 onwards</p>
                    <p class="price ">📍 Location </p>
                    <a href="https://in.bookmyshow.com/events/soho-x-eventmachine-presents-deborah-de-luca/ET00307421" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/vini.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px; ">
                    <h3>Vini-Vici</h3>
                    <p>🕒 06:00 PM (IST)</p>
                    <p>​📅 26th March 2021​</p>
                    <p>Fee: ₹ 1,000 onwards</p>
                    <p class="price ">📍 Location </p>
                    <a href="https://in.bookmyshow.com/events/sunburn-holi-weekend-2021-ft-vini-vici-delhi/ET00307727" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/charlotte.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Charlotte Tour</h3>
                    <p>🕒 07:00 PM (IST)</p>
                    <p>​📅 19th March 2021​</p>
                    <p>Fee: ₹ 2,000 onwards</p>
                    <p class="price ">📍 Location </p>
                    <a href="https://in.bookmyshow.com/delhi/events/charlotte-de-witte-india-tour/ET00306853?data=similarEvent&" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/carnivore.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>DJ Carnivore</h3>
                    <p>🕒 08:00 PM (IST)</p>
                    <p>​📅 20th March 2021​</p>
                    <p>Fee: ₹ 499 onwards</p>
                    <p class="price ">📍 Location </p>
                    <a href="https://in.bookmyshow.com/events/dj-carnivore-performing-live/ET00307216" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/honey.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Yo Yo Live</h3>
                    <p>🕒 09:00 PM (IST)</p>
                    <p>​📅 17th March 2021​</p>
                    <p>Fee: ₹ 3,000 onwards</p>
                    <p class="price ">📍 Location</p>
                    <a href="https://in.bookmyshow.com/events/biggest-friday-ft-yo-yo-honey-singh/ET00307704" target="_blank" class="mya mybutton zoom">Explore</a>
                </li><br />
                <li class="myli">
                </li>
                <li class="myli">
                    <h2>Comedy Shows</h2>
                </li>
                <li class="myli">
                </li>
            </ul>
            <ul class="myul " style="align-items: center; ">
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/gaurav.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Standup by Gaurav</h3>
                    <p>🕒 07:30 PM (IST)</p>
                    <p>​📅 15th April 2021​</p>
                    <p>Fee: ₹ 499 onwards</p>
                    <p class="price "> 📍 Location </p>
                    <a href="https://thegignight.com/delhi" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/joke.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Raunaq Show</h3>
                    <p>🕒 Weekends (IST)</p>
                    <p>​📅 21th March 2021​</p>
                    <p>Fee: ₹ 499 onwards</p>
                    <p class="price ">📍 Location </p>
                    <a href="https://in.bookmyshow.com/events/soho-x-eventmachine-presents-deborah-de-luca/ET00307421" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/masala.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px; ">
                    <h3>Masala Sandwich</h3>
                    <p>🕒 06:00 PM (IST)</p>
                    <p>​📅 3rd April 2021​</p>
                    <p>Fee: ₹ 749 onwards</p>
                    <p class="price ">📍 Location </p>
                    <a href="https://in.bookmyshow.com/events/sunburn-holi-weekend-2021-ft-vini-vici-delhi/ET00307727" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli">
                </li>
                <li class="myli">
                    <h2>Others</h2>
                </li>
                <li class="myli">
                </li>
            </ul>
            <ul class="myul " style="align-items: center; ">
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/mandala.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Mandala Art</h3>
                    <p>🕒 07:30 PM (IST)</p>
                    <p>​📅 8th-31st March 2021​</p>
                    <p>Fee: ₹ 699 onwards</p>
                    <p class="price "> 📍 Location </p>
                    <a href=" 'https://thegignight.com/delhi'" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/face.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Face Mandala</h3>
                    <p>🕒 Weekends (IST)</p>
                    <p>​📅 27th March 2021​</p>
                    <p>Fee: ₹ 396 onwards</p>
                    <p class="price ">📍 Location </p>
                    <a href="https://in.bookmyshow.com/events/soho-x-eventmachine-presents-deborah-de-luca/ET00307421" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Delhi/Events/Images/puppet.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px; ">
                    <h3>Puppet Show</h3>
                    <p>🕒 06:00 PM (IST)</p>
                    <p>​📅 31st March 2021​</p>
                    <p>Fee: ₹ 1,200 onwards</p>
                    <p class="price ">📍 Location </p>
                    <a href="https://in.bookmyshow.com/events/sunburn-holi-weekend-2021-ft-vini-vici-delhi/ET00307727" target="_blank" class="mya mybutton zoom">Explore</a>
                </li>
                {% for rest in rests %}
                <li class="myli ">
                    <img src="{{rest.img.url}}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>{{rest.name}}</h3>
                    <p class="price ">📍 {{rest.location}}</p>
                    <a href=" {{ rest.hreftag }}" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <br><br>
        <div id="footer ">
            <div class="container text-center ">
                <p>Designed with patience. 🙂 All rights reserved.</p>
            </div>
        </div>
        <script type="text/javascript " src="{% static 'js/jquery.1.11.1.js' %}"></script>
        <script type="text/javascript " src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript " src="{% static 'js/SmoothScroll.js' %}"></script>
        <script type="text/javascript " src="{% static 'js/jqBootstrapValidation.js' %}"></script>
        <script type="text/javascript " src="{% static 'js/contact_me.js' %}"></script>
        <script type="text/javascript " src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript " src="{% static 'js/javascript.js' %}"></script>

    </body>

</html>