{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Travels</title>
    <link rel="shortcut icon" href="{% static ' img/icon.png ' %}">
    <!-- Bootstrap -->
    <link rel=" stylesheet " type="text/css " href="{% static 'Delhi/PlacesToVisit/css/bootstrap.css ' %} ">
    <!-- Stylesheet-->
    <link rel="stylesheet " type="text/css " href="{% static 'Delhi/PlacesToVisit/css/style.css' %} ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700' %} " rel="stylesheet ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' %} " rel="stylesheet ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Rochester' %} " rel="stylesheet ">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-image: url(img/giphy.gif);">
    <!-- Navigation-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: black; opacity: 0.8;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% static '#home' %}" class="page-scroll">Events</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Tourism</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Home</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Market</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <h1>Places in Delhi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Home page -->

    <div id="home">
        <div class="container">
            <div class="row">
                <div class="menu-section">
                    <h2 class="menu-section-title">To experience the subtle blend of centuries-old Mughal legacy and urban development on your next holiday destination, you must zero in on Delhi-NCR. In addition to that, there are lots of opportunities for adventure junkies too. So,
                        to know more about the popular places to visit in Delhi, read on.</h2>
                </div>
            </div>
        </div>
        <div class="m">

        </div>

    </div>
    <div class="mydiv" style="text-align: center; ">
        <ul class="myul " style="align-items: center; ">
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/indiagate.jpg' %}" class="myimg zoom ">
                <h3>India Gate</h3>
                <p class="price "> 📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/HumayunsTomb.jpg' %}" class="myimg zoom">
                <h3>Humayun's Tomb</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/hauzghas.jpg' %}" class="myimg zoom ">
                <h3>Hauz Khas</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/qutubminar.jpg' %}" class="myimg zoom ">
                <h3>Qutab Minar</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/redfort.jpg' %}" class="myimg zoom ">
                <h3>Red Fort</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/akshardhamtemple.jpg' %}" class="myimg zoom ">
                <h3>Akshardham Temple</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/lotustemple.jpg' %}" class="myimg zoom ">
                <h3>Bahai (Lotus) Temple</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/wastetowonderpark.jpg' %}" class="myimg zoom ">
                <h3>Waste to Wonder Park</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/jantarmantar.jpg' %}" class="myimg zoom ">
                <h3>Jantar Mantar</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/chandanichowk.jpg' %}" class="myimg zoom ">
                <h3>Chandni Chowk</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/jamamasjid.jpg' %}" class="myimg zoom ">
                <h3>Jama Masjid</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/rashtrapatibhawan.jpg' %}" class="myimg zoom ">
                <h3>Rashtrapati Bhawan</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/cannaughtplace.jpg' %}" class="myimg zoom ">
                <h3>Connaught Place</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/KOD.jpg' %}" class="myimg zoom ">
                <h3>Kingdom of Dreams</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Delhi/PlacesToVisit/Images/lodhiGardens.jpg' %}" class="myimg zoom ">
                <h3>Lodhi Gardens</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank " class="mya mybutton zoom ">Visit Now</a>
            </li>
            {% for rest in rests %}
            <li class="myli ">
                <img src="{{rest.img.url}}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>{{rest.name}}</h3>
                <p class="price ">📍 {{rest.location}}</p>
                <a href=" {{ rest.hreftag }}" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br><br>
    <div id="footer ">
        <div class="container text-center ">
            <p>Designed with patience. 🙂 All rights reserved.</p>
        </div>
    </div>
    <script type="text/javascript " src="{% static 'js/jquery.1.11.1.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/SmoothScroll.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/jqBootstrapValidation.js' %} "></script>
    <script type="text/javascript " src="{% static 'js/contact_me.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/javascript.js' %}"></script>

</body>

</html>