{% extends 'base.html'%}
{% block title%}
Book an Event
{%endblock title%}

{% block content%}

        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h4>Book an Event</h4>
                    <a href="#">Home</a>
                    <a class="active" href="table.html">Book an Event</a>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->

        <!--================Booking Table Area =================-->
        <section class="booking_table_area booking_area_white">
            <div class="container">
                <div class="s_black_title">
                  {% if messages%}
                  <p>{{messages}}</p>
                  {%endif%}
                    <h3>Book an</h3>
                    <h2>Event</h2>
                    <p>Book an event.</p>
                </div>
                <form class="form_area" action="{% url 'Booking:event' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <div class="input-append date form_datetime">
                                <input size="16" type="text" value="" readonly placeholder="Date" name="date" required>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <div class="input-append date form_time">
                                <input size="16" type="text" value="" readonly placeholder=" Start Time" name="start_time" required>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <div class="input-append date form_time">
                                <input size="16" type="text" value="" readonly placeholder=" End Time" name="end_time" required>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="number" class="form-control" id="number_ticket" placeholder="Number of Tickets" name="number_ticket" min="0" required>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="number" class="form-control" id="cost_per_ticket" placeholder="Cost per Ticket" name="cost_per_ticket" step="0.1" min="0" required>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="number" class="form-control" id="limit_per_person" placeholder="Limit per person" name="limit_per_person" min="1" required>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="event_name" placeholder="Event Name" name="event_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="file" class="form-control" name="image" required >
                        </div>
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="1" name="event_description" placeholder="Describe an event" required></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                          <input type="submit" class="btn btn-danger" name="" value="BOOK MY EVENT">
                        </div>
                    </div>
                </form>
                <div class="row map_contact">
                    <div class="col-md-6">
                        <div class="map_contact_info">
                            <h3>Contact Information</h3>
                            <p>Reserve a Table so that we can book for you.</p>
                            <ul>
                                <li><a href="#"><span>Address:</span>393 Liverpool Rd, Ashfied Sydney NSW 2131 </a></li>
                                <li><a href="#"><span>Phone:</span>0451 956 182</a></li>
                                <li><a href="#"><span>Email</span> info@3m-himalaya.com.au</a></li>
                            </ul>
                            <h4>Opening Times</h4>
                            <h5>Monday - Friday 9am - 11pm</h5>
                            <h5>Saturday 2pm - 10pm | Sunday 2pm - 10pm</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Booking Table Area =================-->
{%endblock content%}
