{% extends 'base.html'%} {% block title%} Book a Table {%endblock title%} {% block content%}

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h4>Book a Table</h4>
            <a href="#">Home</a>
            <a class="active" href="table.html">Book a Table</a>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================Booking Table Area =================-->
<section class="booking_table_area booking_area_white">
    <div class="container">
        <div class="s_black_title">
            {% if messages%}
            <p>{{messages}}</p>
            {%endif%}
            <h3>Book a</h3>
            <h2>Table</h2>
            <p>Find your table for any occassion.</p>
        </div>
        <form class="form_area" action="{% url 'Booking:table' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 form-group">
                    <div class="input-append date form_datetime">
                        <input size="16" type="text" value="" readonly placeholder="Date" name="date" required>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <div class="input-append date form_time">
                        <input size="16" type="text" value="" readonly placeholder="Time" name="time" required>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <div class="party_size">
                        <select class="selectpicker" name="person" required>
                                    <option>1 person</option>
                                    <option>2 people</option>
                                    <option>3 people</option>
                                    <option>4 people</option>
                                    <option>5 people</option>
                                    <option>6 people</option>
                                    <option>7 people</option>
                                    <option>8 people</option>
                                    <option>9 people</option>
                                    <option>10 people</option>
                                    <option>11 people</option>
                                    <option>12 people</option>
                                    <option>13 people</option>
                                    <option>14 people</option>
                                    <option>15 people</option>
                                    <option>16 people</option>
                                    <option>17 people</option>
                                    <option>18 people</option>
                                    <option>19 people</option>
                                    <option>20 people</option>
                                    <option>Larger Party</option>
                                </select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone" required>
                </div>
                <div class="col-md-6 form-group">
                    <div class="party_size">
                        <label for="occasion">Select an Occassion(optional)</label>
                        <select class="selectpicker" id="occasion" name="occasion">
                                    <option>Birthday</option>
                                    <option>Anniversary</option>
                                    <option>Date Night</option>
                                    <option>Business Meal</option>
                                    <option>Celebrations</option>
                                </select>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <textarea class="form-control" rows="2" name="special_request" placeholder="Add a special request (option).."></textarea>
                </div>
                <div class="col-md-12 form-group">
                    <input type="submit" class="btn btn-danger" name="" value="BOOK MY TABLE">
                </div>
            </div>
        </form>
    </div>
</section>
<!--================End Booking Table Area =================-->
{%endblock content%}