{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Travels</title>
    <link rel="shortcut icon" href="img/icon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'Mumbai/Restaurants/css/bootstrap.css ' %}">
    <!-- Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'Mumbai/Restaurants/css/style.css ' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: black; opacity: 0.8;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% static '#home' %}" class="page-scroll">Events</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Tourism</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Home</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Market</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <h1>Restaurants in Mumbai</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Home page -->

    <body>
        <div id="home">
            <div class="container">
                <div class="row">
                    <div class="menu-section">
                        <h2 class="menu-section-title">Food is LOVE and with your one click you can find exquisite delicacies that suits your Budget</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="mydiv" style="text-align: center; ">
            <ul class="myul " style="align-items: center; ">
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/Candy&Green.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Candy & Green</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/candy-green-breach-candy-south-mumbai-643680?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/EAST-EastAsianSpiceTrail.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px; ">
                    <h3>East Asian Spice Central</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/east-sahara-star-santacruz-east-223118?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/HouseOfNomad.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>House Of Nomads</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/house-of-nomad-taj-lands-end-bandra-west-644154?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/JWCafe.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>JW Cafe</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/jw-cafe-jw-marriott-mumbai-sahar-andheri-east-223137?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/Mabruk-TheMediterranean.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Mabruk</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/mumbai/mabruk-sahara-star-santacruz-east-227092?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/BarbequeNation.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Barbeque Nation</h3>
                    <p class="price "> 📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/barbeque-nation-virar-western-suburbs-652726?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/NawabSaheb.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Nawab Saheb</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/nawab-saheb-renaissance-mumbai-convention-centre-hotel-powai-223171?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/PaPaYa.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Pa Pa Ya</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/pa-pa-ya-bandra-kurla-complex-bkc-western-suburbs-652239?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/QBar.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Q Bar</h3>
                    <p class="price ">📍 Location</p>
                    <a href="" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/Romanos.jpg '%}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Romanos</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/romanos-jw-marriott-mumbai-sahar-andheri-east-223186?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/TheDrawingRoom.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>The Drawing Room</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/mumbai/the-drawing-room-the-st-regis-lower-parel-230955?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/TheEarthPlate-GlobalCusine.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>The Earth Plate</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/the-earth-plate-sahara-star-santacruz-east-223212?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images//TheSquareMeal.jpeg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>The Square Meal</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/pune/the-square-meal-ginger-hotels-andheri-east-503086?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/Ummrao.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Ummrao</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/mumbai/ummrao-courtyard-mumbai-international-airport-657448?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Restaurants/Images/WhiteCharcoal.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>White Charcoal</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/mumbai/white-charcoal-the-empresa-hotel-andheri-west-western-suburbs-644088?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Visit</a>
                </li>

            </ul>
        </div>
        <div id="footer ">
            <div id="contact " class="text-center ">
                <div class="container ">

                    <div class="col-md-8 col-md-offset-2 ">
                    </div>
                </div>
            </div><br><br>
            <div class="container text-center ">
                <p>Designed with patience. 🙂 All rights reserved.</p>
            </div>
        </div>
        <script type="text/javascript " src="js/jquery.1.11.1.js "></script>
        <script type="text/javascript " src="js/bootstrap.js "></script>
        <script type="text/javascript " src="js/SmoothScroll.js "></script>
        <script type="text/javascript " src="js/jqBootstrapValidation.js "></script>
        <script type="text/javascript " src="js/contact_me.js "></script>
        <script type="text/javascript " src="js/main.js "></script>
        <script type="text/javascript " src="js/javascript.js "></script>

    </body>

</html>