{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Travels</title>
    <link rel="shortcut icon" href="{% static ' img/icon.png ' %}">
    <!-- Bootstrap -->
    <link rel=" stylesheet " type="text/css " href="{% static 'Mumbai/PlacesToVisit/css/bootstrap.css ' %} ">
    <!-- Stylesheet-->
    <link rel="stylesheet " type="text/css " href="{% static 'Mumbai/PlacesToVisit/css/style.css' %} ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700' %} " rel="stylesheet ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' %} " rel="stylesheet ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Rochester' %} " rel="stylesheet ">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-image: url(img/giphy.gif);">
    <!-- Navigation-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: black; opacity: 0.8;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% static '#home' %}" class="page-scroll">Events</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Tourism</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Home</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Market</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <h1>Places in Mumbai</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Home page -->


    <div id="home">
        <div class="container">
            <div class="row">
                <div class="menu-section">
                    <h2 class="menu-section-title">Mumbai is a city that has been inspiration for writing many beautiful stories and making several movies. The city has hypnotized every soul that has come across its exclusivity and developed taste for it.To help you with that, we have
                        listed down some of the amazing places visit in Mumbai, which will make you fall in love with this extravagant city over and over again.</h2>
                </div>
            </div>
        </div>
        <div class="m">

        </div>

    </div>
    <div class="mydiv" style="text-align: center; ">
        <ul class="myul " style="align-items: center; ">
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/gatewayofindia.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Gateway of India</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/Juhu-Beach.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px; ">
                <h3>Juhu Beach</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/SanjayGandhi.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Sanjay Gandhi National Park</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/Powai-Lake.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Powai Lake</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/hajialidargah.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Haji Ali Dargah</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/elephantcaves.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Elephanta Caves</h3>
                <p class="price "> 📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/siddhivinayak.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Siddhivinayak Temple</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/Chhatrapati-Shivaji-Terminus.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Chhatrapati Shivaji Terminus (CST)</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/Shri-Mahalakshmi-Temple-Kolhapur.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Shri Mahalakshmi Temple</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/Nehru-Centre.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Nehru Center</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/Kidzania.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Kidzania</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/Veermata-zoo.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Veermata Jijabai Bhosale Zoo</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/EsselWorld.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>EsselWorld</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/Marine-Drive-1.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Marine Drive</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Mumbai/PlacesToVisit/Images/Hanging-Gardens.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Hanging Gardens</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            {% for rest in rests %}
            <li class="myli ">
                <img src="{{rest.img.url}}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>{{rest.name}}</h3>
                <p class="price ">📍 {{rest.location}}</p>
                <a href=" {{ rest.hreftag }}" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="footer ">
        <div id="contact " class="text-center ">
            <div class="container ">

                <div class="col-md-8 col-md-offset-2 ">
                </div>
            </div>
        </div><br><br>
        <div class="container text-center ">
            <p>Designed with patience. 🙂 All rights reserved.</p>
        </div>
    </div>
    <script type="text/javascript " src="{% static 'js/jquery.1.11.1.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/SmoothScroll.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/contact_me.js "></script>
    <script type="text/javascript " src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/javascript.js' %}"></script>

</body>

</html>