{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Travels</title>
    <link rel="shortcut icon" href="img/icon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'Mumbai/Shops/css/bootstrap.css' %}">
    <!-- Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'Mumbai/Shops/css/stylemumbai.css' %}">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' %}" rel="stylesheet">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Rochester' %}" rel="stylesheet">
    <style>
        .intro {
            display: table;
            width: 100%;
            padding: 0;
            background: url("{% static 'Mumbai/Shops/img/mumbai.jpg' %} ") center center no-repeat;
            background-color: #e5e5e5;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: black;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% static '#home' %}" class="page-scroll">Home</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Shops</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <h1>Shops in Mumbai</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Home page -->

    <body>
        <div id="home">
            <div class="container">
                <div class="row">
                    <div class="menu-section">
                        <h2 class="menu-section-title">Mumbai is not only famous for the international fashion brands and labels, but is also home to a wide assortment of local markets, boutiques and shopping malls that sell almost everything that a local Mumbaikar needs! Go and check
                            out now!</h2>

                    </div>
                </div>
            </div>

        </div>
        <div class="mydiv" style="text-align: center; ">
            <ul class="myul " style="align-items: center; ">
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/le mill.jpg' %}" class="myimg zoom" style="height: 210px; width:400px; object-fit: contain;">
                    <h3>Le Mill</h3>
                    <p class="price ">1st Floor, Pheroze Building, Chhatrapati Shivaji Maharaj Marg, above Indigo Deli, Mumbai, Maharashtra 400005</p>
                    <a href="https://www.google.com/maps/place/Le+Mill/@18.9238459,72.8332589,15z/data=!4m2!3m1!1s0x0:0xeb2465ade10781c4?sa=X&ved=2ahUKEwjtnPXKl6XvAhUUILcAHXHLCFgQ_BIwF3oECCoQBQ " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/phoenix.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain;">
                    <h3>Phoenix Palladium</h3>
                    <p class="price ">462, Senapati Bapat Marg, Lower Parel, Mumbai, Maharashtra 400013</p>
                    <a href="https://www.google.com/maps/place/Phoenix+Palladium/@18.994744,72.8245993,15z/data=!4m2!3m1!1s0x0:0x469288721a1d52aa?sa=X&ved=2ahUKEwjrncqomKXvAhW573MBHXxhAvwQ_BIwInoECEMQBQ " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/fashion street.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain;">
                    <h3>Fashion Street</h3>
                    <p class="price ">New Marine Lines, Churchgate, Mumbai, Maharashtra 400020</p>
                    <a href="https://www.google.com/maps/place/Fashion+Street/@18.9389419,72.8301069,15z/data=!4m5!3m4!1s0x0:0xf6e8e25e40bc7c3b!8m2!3d18.9389419!4d72.8301069 " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/crawford.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain;">
                    <h3>Crawford Market</h3>
                    <p class="price ">Shoppers Plaza, Ground Floor, Crawford Market, M.J.Phule Market, Lokmanya Tilak Rd, Dhobi Talao, Chhatrapati Shivaji Terminus Area, Fort, Mumbai, Maharashtra 400001</p>
                    <a href="https://www.google.com/maps/place/Crawford+market/@18.9481999,72.8349886,15z/data=!4m2!3m1!1s0x0:0xfface48fb6bfa794?sa=X&ved=2ahUKEwic05u9nKXvAhXac30KHYzRDysQ_BIwK3oECD8QBQ " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/colaba-causeway-market.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain;">
                    <h3>Colaba Market</h3>
                    <p class="price ">Adenwala Rd, Apollo Bandar, Colaba, Mumbai, Maharashtra 400005</p>
                    <a href="https://www.google.com/maps/place/Colaba+Market/@18.9197182,72.8298531,15z/data=!4m5!3m4!1s0x0:0x23743644d17268dc!8m2!3d18.9197182!4d72.8298531 " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/MANGAL-MARKET.jpg.crdownload' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain; ">
                    <h3>Mangaldas Market</h3>
                    <p class="price ">321 3rd new lane Mangaldas Market 3 rd new lane, Lohar Chawl, Kalbadevi, Mumbai, Maharashtra 400002</p>
                    <a href="https://www.google.com/maps/place/Mangaldas+Market/@18.9480704,72.831662,15z/data=!4m5!3m4!1s0x0:0xb148fe192e9cc5fa!8m2!3d18.9480704!4d72.831662 " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/linking road.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain;">
                    <h3>Linking Road Market</h3>
                    <p class="price ">33rd Rd, Khar, Khar West, Mumbai, Maharashtra 400052</p>
                    <a href="https://www.google.com/maps/place/Linking+Road+Market/@19.0653685,72.8344257,15z/data=!4m5!3m4!1s0x0:0x38fb62625d82de7d!8m2!3d19.0653685!4d72.8344257 " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/bandra street.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain;">
                    <h3>Bandra Street Market</h3>
                    <p class="price ">4-A, Hill Rd, Sayed Wadi, Ranwar, Bandra West, Mumbai, Maharashtra 400050</p>
                    <a href="https://www.google.com/maps/place/Bandra+Street+Market/@19.0552903,72.8316797,15z/data=!4m5!3m4!1s0x0:0x841f40251dae8823!8m2!3d19.0552903!4d72.8316797 " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/hindmata.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain; ">
                    <h3>Hindmata Market</h3>
                    <p class="price ">Dr Baba Saheb Ambedkar Rd, Dadar East, Dadar, Mumbai, Maharashtra 400014</p>
                    <a href="https://www.google.com/maps/place/New+Hindmata+Cloth+Market/@19.0147962,72.8454534,15z/data=!4m5!3m4!1s0x0:0x7ce584acf88d3c46!8m2!3d19.0147962!4d72.8454534 " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/chor bazzar.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain;">
                    <h3>Chor Bazzar</h3>
                    <p class="price ">Chor Bazaar, Mumbai, Maharashtra 400004</p>
                    <a href="https://www.google.com/maps/place/Chor+Bazaar,+Mumbai,+Maharashtra/data=!4m2!3m1!1s0x3be7ce3dfbbf9221:0x556b23b811e7f9eb?sa=X&ved=2ahUKEwi6jKuYn6XvAhXUILcAHSnaD4UQ8gEwHnoECDIQAQ " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/sassoon-goya-journal-cropped-1551427697.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain;">
                    <h3>Sassoon Dock Fish Market</h3>
                    <p class="price ">Sassoon Dock Rd, Azad Nagar, Colaba, Mumbai, Maharashtra 400005</p>
                    <a href="https://www.google.com/maps/place/Sassoon+Dock+Local+Fish+Market/@18.9122502,72.8254318,15z/data=!4m5!3m4!1s0x0:0xe49a2bfa3feaec0b!8m2!3d18.9122502!4d72.8254318 " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/dadar flower.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain;">
                    <h3>Dadar Flower Market</h3>
                    <p class="price ">302, Senapati Bapat Marg, Dadar West, Mumbai, Maharashtra 400028</p>
                    <a href="https://www.google.com/maps/place/Dadar+Flower+Market./@19.0120707,72.8370012,15z/data=!4m2!3m1!1s0x0:0x9e12b54e82466081?sa=X&ved=2ahUKEwjSpP_yoKXvAhUzmuYKHRX1CsUQ_BIwHnoECCsQBQ " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/lal baug.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain ">
                    <h3>Lal Baug market</h3>
                    <p class="price ">Dinshaw Petit Rd, Shree Ganesh Nagar, Lal Baug, Parel, Mumbai, Maharashtra 400012</p>
                    <a href="https://www.google.com/maps/place/Lalbaug+Market/@18.9909106,72.8368595,15z/data=!4m5!3m4!1s0x0:0xf9fd1e875e5b7ae7!8m2!3d18.9909106!4d72.8368595 " class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/dharavi LM.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain; ">
                    <h3>Dharavi Leather Market</h3>
                    <p class="price "> Dharavi Depot / Koliwada, H Block BKC, Dharavi, Mumbai, Maharashtra 400017</p>
                    <a href="https://www.google.com/maps/dir/dharavi/mozri+leather+collection,+Shop+No+6,+Opp+Sangam+Galli,+Sion-Bandra+Link+Rd,+Dharavi,+Mumbai,+Maharashtra+400017/@19.0433063,72.8457426,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3be7c8d72abf2d35:0x5ba0b162df2aa82e!2m2!1d72.8537589!2d19.0380334!1m5!1m1!1s0x3be7c8d043492af1:0x12f2397fa64da97b!2m2!1d72.8606435!2d19.0476537 "
                        class="mya mybutton zoom">Visit</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Mumbai/Shops/img/zaveri-bazaar-243462.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; object-fit: contain; ">
                    <h3>Zaveri Bazzar</h3>
                    <p class="price ">Kalbadevi Mumbai, Maharashtra 400002</p>
                    <a href="https://www.google.com/maps/place/Zaveri+Bazaar,+Kalbadevi,+Mumbai,+Maharashtra+400002/@18.949469,72.8286358,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7ce223285e293:0x89585c70691716b4!8m2!3d18.9495056!4d72.8304999 " class="mya mybutton zoom">Visit</a>
                </li>

            </ul>
        </div>

        <!-- Contact Section -->
        <div id="contact " class="text-center ">
            <div class="container ">
                <div class="section-title text-center ">
                    <h3>Send us a message</h3>
                </div>
                <div class="col-md-8 col-md-offset-2 ">
                    <form name="sentMessage " id="contactForm " novalidate>
                        <div class="row ">
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <input type="text " id="name " class="form-control " placeholder="Name " required="required ">
                                    <p class="help-block text-danger "></p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group ">
                                    <input type="email " id="email " class="form-control " placeholder="Email " required="required ">
                                    <p class="help-block text-danger "></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <textarea name="message " id="message " class="form-control " rows="4 " placeholder="Message " required></textarea>
                            <p class="help-block text-danger "></p>
                        </div>
                        <div id="success "></div>
                        <button type="submit " class="btn btn-custom btn-lg ">Send Message</button>
                    </form>
                </div>
            </div>
        </div><br><br>
        <div id="footer ">
            <div class="container text-center ">
                <p>Designed with patience. 🙂 All rights reserved.</p>
            </div>
        </div>
        <script type="text/javascript " src="{% static 'js/jquery.1.11.1.js' %} "></script>
        <script type="text/javascript " src="{% static 'js/bootstrap.js' %} "></script>
        <script type="text/javascript " src="{% static 'js/SmoothScroll.js' %} "></script>
        <script type="text/javascript " src="{% static 'js/jqBootstrapValidation.js' %} "></script>
        <script type="text/javascript " src="{% static 'js/contact_me.js' %} "></script>
        <script type="text/javascript " src="{% static 'js/main.js' %} "></script>
        <script type="text/javascript " src="{% static 'js/javascript.js' %} "></script>

    </body>

</html>