{% load static %} {% static "Chennai/Restaurants" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Travels</title>
    <link rel="shortcut icon" href="img/icon.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'Chennai/Restaurants/css/bootstrap.css' %}">
    <!-- Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'Chennai/Restaurants/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: black; opacity: 0.8;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% static '#home' %}" class="page-scroll">Events</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Tourism</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Home</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Market</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <h1>Restaurants in Chennai</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Home page -->

    <body>
        <div id="home">
            <div class="container">
                <div class="row">
                    <div class="menu-section">
                        <h2 class="menu-section-title">Food is LOVE and with your one click you can find exquisite delicacies that suits your Budget</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="mydiv" style="text-align: center; ">
            <ul class="myul " style="align-items: center; ">
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/Bazaar.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Bazaar</h3>
                    <p class="price "> 📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/bazaar-all-day-diner-t-nagar-chennai-644583" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/ChinaXO.jpg' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>China XO</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/china-xo-the-leela-palace-adyar-612418?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/CreamCentre.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px; ">
                    <h3>Cream Centre</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/cream-centre-nungambakkam-612986?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/GossipBristo.jpeg ' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Gossip Bristo</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/gossip-bistro-east-coast-road-ecr-chennai-656192?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/Hamsa.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Hamsa</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/hamsa-adyar-chennai-637887?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/J.Hind.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>J. Hind</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/chennai/j-hind-grt-grand-t-nagar-648567?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/JacksCafe.jpg ' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Jack's Cafe</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/jacks-cafe-nungambakkam-chennai-648409?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/MadrasPavilion.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Madras Pavilion</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/madras-pavilion-itc-grand-chola-guindy-640250" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/PanAsian.jpg' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Pan Asian</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/chennai/pan-asian-itc-grand-chola-guindy-612603" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/Peshawri.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Peshawri</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/peshawri-itc-grand-chola-guindy-612379" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/SeasonalTastes.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Seasonal Tastes</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/chennai/seasonal-tastes-the-westin-chennai-velachery-612434?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/SunsetGrill.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Sunset Grill</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/sunset-grill-the-westin-chennai-velachery-612435?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/TheReef.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>The Reef</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/the-reef-sheraton-grand-chennai-resort-spa-657411?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/Twist.jpg ' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Twist</h3>
                    <p class="price ">📍 Location </p>
                    <a href="https://www.eazydiner.com/chennai/twist-old-mahabalipuram-road-omr-chennai-652677?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                <li class="myli ">
                    <img src="{% static 'Chennai/Restaurants/Images/UrbanSpatula.jpg ' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>Urban Spatula</h3>
                    <p class="price ">📍 Location</p>
                    <a href="https://www.eazydiner.com/chennai/urban-spatula-anna-nagar-west-chennai-648392?deal_types[]=postpaid" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                {% for rest in rests1 %}
                <li class="myli ">
                    <img src="{{rest1.img.url}}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                    <h3>{{rest1.name}}</h3>
                    <p class="price ">📍 {{rest1.location}}</p>
                    <a href=" {{ rest1.hreftag }}" target="_blank" class="mya mybutton zoom">Book a Table</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div id="footer ">
            <div id="contact " class="text-center ">
                <div class="container ">

                    <div class="col-md-8 col-md-offset-2 ">
                    </div>
                </div>
            </div><br><br>
            <div class="container text-center ">
                <p>Designed with patience. 🙂 All rights reserved.</p>
            </div>
        </div>
        <script type="text/javascript " src="js/jquery.1.11.1.js "></script>
        <script type="text/javascript " src="js/bootstrap.js "></script>
        <script type="text/javascript " src="js/SmoothScroll.js "></script>
        <script type="text/javascript " src="js/jqBootstrapValidation.js "></script>
        <script type="text/javascript " src="js/contact_me.js "></script>
        <script type="text/javascript " src="js/main.js "></script>
        <script type="text/javascript " src="js/javascript.js "></script>

    </body>

</html>