{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Travels</title>
    <link rel="shortcut icon" href="{% static 'Chennai/PlacesToVisit/img/icon.png ' %}">
    <!-- Bootstrap -->
    <link rel=" stylesheet " type="text/css " href="{% static 'Chennai/PlacesToVisit/css/bootstrap.css ' %} ">
    <!-- Stylesheet-->
    <link rel="stylesheet " type="text/css " href="{% static 'Chennai/PlacesToVisit/css/style.css' %} ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700' %} " rel="stylesheet ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' %} " rel="stylesheet ">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Rochester' %} " rel="stylesheet ">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-image: url(img/giphy.gif);">
    <!-- Navigation-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top" style="background-color: black; opacity: 0.8;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% static '#home' %}" class="page-scroll">Events</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Tourism</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Home</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">Market</a></li>
                    <li><a href="{% static '#home' %}" class="page-scroll">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="intro-text">
                            <h1>Places in Chennai</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Home page -->


    <div id="home">
        <div class="container">
            <div class="row">
                <div class="menu-section">
                    <h2 class="menu-section-title">Being one of the biggest economic and educational centres of South India, Chennai has become one of the top places for IT firms and many other businesses to flourish. We’re sure that you too must have visited this ever-hustling city
                        at least once for official work or are going to in near future! Have ever thought of exploring Chennai and the beautiful monuments it has?</h2>
                </div>
            </div>
        </div>
        <div class="m">

        </div>

    </div>
    <div class="mydiv" style="text-align: center; ">
        <ul class="myul " style="align-items: center; ">
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/MarinaBeach.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Marina Beach</h3>
                <p class="price "> 📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/valluvarKottam.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Valluvar Kottam</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/ThousandsMosque.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px; ">
                <h3>Thousand Lights Mosque</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/Dakshinachitra.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Dakshinachitra</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/Ashtalakshmi_temple_2.jpg' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Ashtalakshmi Temple</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/Mylapore.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Mylapore</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/kapaleeshwarTemple.jpg'%} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Kapaleeswarar Temple</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/San_Thome_Church.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>San Thome Church</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/FortStGeorge.jpg' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Fort St. George </h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/Nettukuppam.jpg' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Nettukuppam</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/Madraswar.jpg' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Madras War Memorial</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/CovelongBeach.jpg' %}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Covelong Beach</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/ConnemaraPublicLib.jpg' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Connemara Public Library</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/Royapuram.jpg' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Royapuram Fishing Harbour</h3>
                <p class="price ">📍 Location </p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            <li class="myli ">
                <img src="{% static 'Chennai/PlacesToVisit/Images/VellankaniShrine.jpg ' %} " class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>Vellankani Shrine</h3>
                <p class="price ">📍 Location</p>
                <a href="" target="_blank" class="mya mybutton zoom">Visit Now</a>
            </li>
            {% for rest in rests %}
            <li class="myli ">
                <img src="{{rest.img.url}}" class="myimg zoom" style="height: 250px; width:400px; border-radius: 20px;">
                <h3>{{rest.name}}</h3>
                <p class="price ">📍 {{rest.location}}</p>
                <a href=" {{ rest.hreftag }}" target="_blank" class="mya mybutton zoom">Book a Table</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="footer ">
        <div id="contact " class="text-center ">
            <div class="container ">

                <div class="col-md-8 col-md-offset-2 ">
                </div>
            </div>
        </div><br><br>
        <div class="container text-center ">
            <p>Designed with patience. 🙂 All rights reserved.</p>
        </div>
    </div>
    <script type="text/javascript " src="{% static 'js/jquery.1.11.1.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/SmoothScroll.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/jqBootstrapValidation.js' %} "></script>
    <script type="text/javascript " src="{% static 'js/contact_me.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript " src="{% static 'js/javascript.js' %}"></script>

</body>

</html>